@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}


:root {
    --primary-color: #0c87c9;
    --text-color: RGB(3, 21, 33);
    --sub-text-color: RGB(107, 107, 132);
    --bg-color: #FFFFFF;
    --bg-grey-color: #fafafa;
    --bg-box-color: #f3f3f3;
    --nav: #ffffff;
    --border-color: rgb(182, 178, 178);
    --product-card-shadow: hsla(0, 0%, 0%, 0.14);
    --box-shadow: 0 2px 28px 0 rgb(0, 0, 0, 0.09);
    --transition: 0.5s;
}

.dark {
    --bg-color: #000000;
    --bg-grey-color: #0e0e0e;
    --bg-box-color: #000000;
    --text-color: #ffffff;
    --sub-text-color: #cfcfcf;
    --nav: #2A2A2A;
    --border-color: rgb(77, 75, 75);
    --box-shadow: 0 2px 28px 0 rgb(255, 255, 255, 0.01);
    --product-card-shadow: var(--primary-color);
    --message-text-bg: rgba(160, 159, 161, 0.1);
    --transition: 0.5s;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}


::selection {
    background-color: var(--primary-color);
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-box-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    border: none;
}

section,
.nav-content,
.hero,
.links-footer {
    width: 85%;
    margin: auto;
    max-width: 1320px;
}

section {
    padding-top: 100px;
    padding-bottom: 70px;
}

.grey-section {
    width: 100%;
    margin: auto;
    background-color: var(--bg-grey-color);
}

.nav {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: var(--transition);
    background-color: var(--nav);
}

.sticky-nav {
    position: fixed;
    box-shadow: var(--box-shadow);
    background-color: var(--nav);
}

.nav-content {
    padding: 20px;
    width: calc(100% - 40px);
}

.logo-text {
   
    color: var(--primary-color);
}

.logo-text svg {
   
    height: 1.8em;
    width: auto;
}

.links a {
    transition: var(--transition);
}

.links a:hover {
    color: var(--primary-color);
}

.social-icons {
    color: var(--text-color);
    padding: 0.7em;
    border-radius: 2.5em;
    border: 0.5px solid var(--border-color);
    transition: var(--transition);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.social-icons:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.mobile-view-menu-icon {
    border-radius: 1.5em;
    background-color: var(--bg-box-color);
    cursor: pointer;
    padding: 0.5em;

}

.mobile-view-menu-icon svg {
    color: var(--text-color);
}

.mobile-view-menu-icon svg:hover {
    color: var(--primary-color);
}

.dropdown-menu {
    padding-left: 1em;
    position: absolute;
    gap: 1em;
    top: 60px;
    background: var(--bg-box-color);
   top: -500%;
   height: auto;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    transition: var(--transition);
    max-width: 85%;
    margin: auto;
    left: 0;
    right: 0;
    padding: 2em;
    width: calc(100% - 4em);
}

.dropdown-menu a:hover {
    color: var(--primary-color);
}

.dropdown-menu.open {
    top: 100%;
}

.social-icons-mob {
    display: flex;
    align-items: center;
    padding: 0.8em;
    border: 0.1px solid var(--sub-text-color);
    border-radius: 5em;
}

.social-icons-mob:hover {
    color: var(--primary-color);

}
li{
    list-style: none;
   
}
.all-content{
    letter-spacing: 0.1px;
}
.terms li{
    list-style:disc;
}
.dropdown-menu li{
    font-weight: 600;
}

/* social links hide on table and mobile view */
@media screen and (max-width: 1024px) {
    .social-icons {
        display: none;
    }

    .links {
        display: none !important;
    }

    .mobile-view-menu-icon {
        display: flex !important;

    }
}

@media screen and (max-width: 768px) {
    .logo-text svg {
        height: 1.2em;
    }

}

.button {
    position: relative;
    text-align: center;
    z-index: 1;
    background-color: var(--primary-color);
    color: #ffffff;
    transition: var(--transition);
    border-radius: 30px;
    font-weight: 500;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: auto;
    width: max-content;
    font-size: 1em;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #252626ec;
    color: var(--primary-color);
}
.button:hover {
    scale: 1.1;

}

/* hero section */
.hero {
    height: 750px;
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
}

.hero img {
    max-width: 80%;
}

.left h1 {
    color: var(--text-color);
}

.left p {
    color: var(--sub-text-color);
    font-weight: 500;
}

@media screen and (max-width: 986px) {
    .left {
        align-items: center;
    }
    .left h1 {
        font-size: 2em !important;
        text-align: center;
    }
    .left p {
        text-align: center;
    }
}
.gets-now svg {
    color: var(--primary-color);
    height: 2em;
    width: auto;
}
.logo-codebell svg{
    height: 1em;
    width: auto;
}

.title-1 {
    color: var(--text-color);
    font-stretch: 100%;
    font-size: 2.8em;
    font-weight: 700;
}

.title-2 {
    color: var(--sub-text-color);
    max-width: 50%;
    font-size: 1em;
    font-weight: 400;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .title-1 {
        font-size: 1.875em;
    }

    .title-2 {
        max-width: 100%;
        font-size: 0.938em;
        line-height: 1.6em;
    }
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin-bottom: 40px;
}

.card {
    width: 240px;
    height: 240px;
    background-color: var(--bg-grey-color);
    padding: 2em;
    border-radius: 0.5em;
    transition: var(--transition);
    overflow: hidden;
    cursor: pointer;
    color: var(--text-color);
}

.card:hover {
    color: #ffffff;
    transform: translateY(-1em);
    border-radius: 0.5em;

}

.card:hover p {
    color: #ffffff;
}

.card::before {
    width: 0%;
    transform: translate(-50%, -50%);
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    background-color: var(--primary-color);
    transition: var(--transition);
}

.card:hover::before {
    width: 100%;
    height: 100%;
}

.c-icon {
    background-color: #f3f3f3;
    border-radius: 2em;
    padding: 1em;
}

.card svg {
    color: var(--primary-color);
}

.card-text {
    font-size: 1.25em;
    font-weight: 700;
}

.card p {
    line-height: 1.6;
    color: var(--sub-text-color);
}

hr {
    border: 1px solid rgb(128, 128, 128, 0.2);
}

.why-choose .card {
    background-color: var(--bg-color);
}

.why-choose .card:first-child {
    margin-top: 1.5em;
}

.why-choose .card:last-child {
    margin-top: -1.5em;
}
@media screen and (max-width: 1024px) {
    .why-choose .card:first-child,
    .why-choose .card:last-child {
        margin-top: 0;
    }
}
video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 1em;
}

@media screen and (max-width:1024px) {
    .video-header {
        
        text-align: center;
        align-items: center;
    }
    .video-header h1{
        font-size: 2.2em !important;
    }
}

.products {
    width: 400px;
    height: 524.39px;

    color: var(--text-color);

}

.image-product {
    width: 400px;
    height: 400px;

}

.image-product img {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    transition: var(--transition);
}

.product-name {
    font-size: 1.375em;
    font-weight: 700;
}

.price-start .stars {
    color: RGB(244, 159, 11);
}

.price-start span {
    text-decoration: line-through;
    color: RGB(153, 153, 153);
}

.image-product {

    overflow: hidden;
    cursor: pointer;
    border-radius: 1em;
    transition: var(--transition);
    background-color: var(--bg-grey-color);
    box-shadow:
        0px 2px 2px 0px var(--product-card-shadow),
        0px 3px 1px -2px var(--product-card-shadow),
        0px 1px 5px 0px var(--product-card-shadow);

}

.dark .image-product {
    box-shadow: 0 5px 20px -2px var(--primary-color);
}

.image-product:hover img {
    scale: 1.1;
}

@media screen and (max-width:768px) {
    .product-list{
        gap: 4em !important;
    }
    .products,
    .image-product {
        width: 350px;

    }
    .products .button{
        padding-left: 25px;
        padding-right: 25px;
        font-size: 0.8em !important;
    }
    .products p{
        font-size: 0.9em;
    }
}

.single-feedback {
    margin-top: 2em;
    position: relative;
    cursor: pointer;
    transition: var(--transition);
    margin-bottom: 2em;
}

.single-feedback:hover {
    transform: translateY(-5px);
}

.test-desc {
    position: relative;
    background-color: var(--bg-grey-color);
    border-radius: 0.5em;
    height: 100px;
    padding-top: 3.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
}

.test-desc p {
    color: var(--sub-text-color);
    font-style: italic;
}

.test-desc::before {
    content: '';
    position: absolute;
    left: 35px;
    bottom: -12px;
    width: 25px;
    height: 25px;
    z-index: -1;
    background: var(--bg-grey-color);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.f-icon {
    position: absolute;
    width: 100%;
    top: -10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.f-icon svg {
    color: #ffffff;
}

.single-feedback img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.single-feedback h4 {
    color: var(--text-color);
}

.single-feedback span {
    color: var(--primary-color);
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #ffffff;
    font-size: 1em !important;
    font-weight: 700;
}

.swiper-pagination-bullet {
    background-color: grey !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
}

.plan-card {
    padding: 2em;
    border-radius: 1em;
    width: 250px;
    height: 430px;
    line-height: 1.8em;
    background-color: var(--bg-color);
    box-shadow:
        0px 2px 2px 0px var(--product-card-shadow),
        0px 3px 1px -2px var(--product-card-shadow),
        0px 1px 5px 0px var(--product-card-shadow);
    cursor: pointer;
    transition: var(--transition);

}

.plan-card:hover {
    scale: 1.02;
    box-shadow: var(--box-shadow);
}

.plan-card h3 {
    font-size: 2.5em;
    color: var(--primary-color);
}

.plan-card span {
    font-size: 0.5em;
}

.plan-card h1 {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--text-color);
}

.plan-card p {
    color: var(--sub-text-color);
    flex: 1;
}

/* download */
.app_download {
    border: 0.5px solid var(--border-color);
    border-radius: 1em;
    padding: 1.5em;
    width: calc(100% - 3em);
    transition: var(--transition);
}

.app_download a {
    transition: var(--transition);
}

.app_download .qr_code {
    height: 150px;
    width: auto;
}

.app_download a:hover {
    scale: 1.05;
}

.qr_code svg {
    width: 200px;
    height: 200px
}

@media screen and (max-width:768px) {
    .download {
        text-align: center;
    }

    .qr_code svg {
        width: 120px;
        height: 120px;
    }

    .app_download {
        padding: 1em;
        width: calc(100% - 2em);
    }

    .app_download a {
        max-width: 80%;
    }
}

/* FAQ  */
.question-box {
    color: var(--text-color);
    background: var(--bg-box-color);
    border: 0.1px solid #D5D5D5;
    border-radius: 2px;
    cursor: pointer;
    transition: var(--transition);

}

.question {
    width: 90%;
    font-size: 1.2em;
    font-weight: 600;

}
.question-box:hover{
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .question {
        font-size: 1em;
    }
}

.ans {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: var(--transition);
}

.ans p {
    border-top: 1px solid var(--primary-color);
    padding: 1.5em 1.5em 1.5em;
    width: calc(100% - 3em);
    line-height: 1.3em;
    font-weight: 500;
    color: var(--sub-text-color);
}

.question-box .minus {
    display: none;
}

.question-box.active .ans {
    max-height: 20em;
}

.question-box.active .minus {
    display: flex;
}

.question-box.active .plus {
    display: none;
}

.blog-cards {
    margin: auto;
    width: 415px;
    height: 570px;
    background-color: var(--bg-color);
    cursor: pointer;
    transition: var(--transition);
}

.blog-cards img {
    margin: 0;

}

.blog-cards:hover {
    scale: 1.01;
    box-shadow: var(--box-shadow);
}

.blogger-details {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    color: var(--text-color);
}

.blogger-details p {
    line-height: 1.5em;
}

.blogger-details img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.post-detail {
    font-size: 1.5em;
    font-weight: 700;
    transition: var(--transition);

}
.post-detail:hover{
    color: var(--primary-color);
}

.img-name p {
    font-size: 0.9em;
    font-weight: 600;
    color: var(--text-color);
}

.date-added svg {
    color: var(--primary-color);
}

.date-added p {
    color: var(--text-color);
}

.mail-detail {
    border: 0.5px solid var(--primary-color);
    padding: 0.3em;
    border-radius: 5px;
}

.mail-detail input {
    padding-left: 1em;
    height: 100%;
    width: calc(100% - 2em);
    background: none;
    outline: none;
    border: none;
    font-size: 1em;
    color: var(--text-color);
}

.mail-detail .button {
    border-radius: 0.5em;
    white-space: nowrap;
    font-size: 1em;
    padding-right: 1em;
    padding-left: 1em;
}
.footer{
    padding-top: 70px;
    padding-bottom: 35px;
}
.footer img {
    max-width: 70%;
}
.logo-codebell svg {
    color: var(--primary-color);
}

.social-links-company {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.social-links-company svg {
    transition: var(--transition);
}

.social-links-company svg:hover {
    color: var(--primary-color);
}

.follow-button {
    max-width: 200px;
    cursor: pointer;
    padding: 1em 1em;
    gap: 0.5em;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 2em;
    transition: var(--transition);
    white-space: nowrap;
}

.footer p {
    cursor: pointer;
    font-weight: 500;
}

.follow-button:hover {
    scale: 1.1;
}

.follow-button svg {

    color: rgb(255, 253, 255);
}
.footer-bottom p, .footer-bottom a{
    font-size: 0.8em;
    color: var(--sub-text-color);
}

@media screen and (max-width:768px) {
    .footer-bottom p,
    .footer-bottom a {
        font-size: 0.8em;
    }
}

/* about product */
#about-img img {
    max-width: 60%;
}

.about-product svg {
    color: var(--primary-color);
}

@media screen and (max-width: 990px) {
    .about-product img {
        max-width: 80%;
    }
    .subscribe {
        text-align: center;
    }
}

.video-content::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    background: rgb(0, 0, 0, 0.1);
    opacity: 0.6;
}

.video-content {
    text-align: center;
    background-image: url(assets/img/video-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 12em;
    padding-bottom: 12em;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-position: center;
}

.play-button {
    background-color: #ffffff;
    border-radius: 3em;
    transition: var(--transition);
    cursor: pointer;
}

.play-button:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

@media screen and (max-width: 990px) {
    .video-content {
        width: 100%;
        margin: auto;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .video-content::before {
        height: 100%;
    }
}
#subscribe_err, #contact_err {
    color: rgba(225, 9, 9, 0.947);;
}
#subscribe_form, #contact_success{
    color: var(--text-color);
    font-weight: 500;
}
/* contact */
.name-email{
    width: 100%;
}
.name-email input {
    background: none;
    border: none;
    padding: 1.2em;
    width: calc(100% - 2.4em);
    border: 0.1px solid var(--sub-text-color);
    font-size: 1em;
    color: var(--text-color);
    font-weight: 300;
    border-radius: 5px;
}
.contact-forms input,
.contact-forms textarea {
    padding: 1.2em;
    width: calc(100% - 2.4em);
    background: none;
    border: none;
    border: 0.5px solid var(--sub-text-color);
    font-size: 1em;
    color: var(--text-color);
    font-weight: 300;
    transition: var(--transition);
    border-radius: 5px;
}
.contact-forms input {
    outline: none;
}
.contact-forms textarea[name="message"] {
    font-size: 1em;
    color: var(--text-color);
    font-weight: 450;
    font-family: 'Montserrat', sans-serif;

}

.contact-forms input:focus {
    border: 0.5px solid var(--primary-color);
}
.contact-forms textarea:focus {
    outline: none;
    border: 0.5px solid var(--primary-color);
}
.submit-btn {
    background-color: var(--primary-color);
    padding: 12px 45px;
    border-radius: 2em;
    color: #ffffff;
    font-size: 1em;
    align-self: start;
    transition: var(--transition);
    cursor: pointer;
}

.submit-btn:hover {
    scale: 1.1;
}
.contact-forms textarea::placeholder {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

/* about,privacy,shipping,refund */
.p-title{
    font-size: 2.5em;
}
.all-content{
    max-width: 80%;
}
.all-content h4 {
    margin-top: 0em;
    margin-bottom: 0em;
    color: var(--text-color);
    font-size: 2em;
    line-height: 1.18em;
    font-weight: 700;
}

.bullet {
    color: var(--text-color);
    display: flex;
    align-items: start;
    gap: 0.5em;
    font-weight: 400;
}

.under-sub {
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .all-content {
        max-width: 100%;
    }
    .p-title {
        font-size: 1.5em;
        text-align: center;
    }
    .all-content h4 {
        font-size: 1.2em;
    }
}
.change-theme {
    font-size: 1.25rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: color .3s;
}
.theme-dropdown {
    cursor: pointer;
    position: fixed;
    display: inline-block;
    right: -1em;
    top: 11.5em;
    z-index: 10;
}

.themes-text {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    padding-right: 2em;
    background-color: var(--bg-box-color);
    border-radius: 2em;
}

.themes-text svg {
    columns: var(--primary-color);
}

.theme-changers {
    display: flex;
    align-items: center;
    gap: 1em;
    transition: 1s;
}

.theme-changers:hover {
    scale: 1.2;
}

.theme-changers img {
    width: 30px;
    height: 30px;
    display: none;

}

.theme-list li {
    list-style: none;
}

.theme-list {
    padding: 1em;
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    align-items: center;
    justify-content: center;
    gap: 1em;
    right: 2em;
    color: var(--text-color);
    display: none;
    position: absolute;
    background-color: var(--bg-box-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: 1s;
    border-radius: 1em;
    cursor: pointer;
}

.theme-list li {
    text-align: center;
    cursor: pointer;
}

.theme-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.theme-dropdown:hover .theme-list {
    display: flex;
}

/* user gallery */
#gallery-image-1 img {
    width: 330px;
    height: 300px;
    max-width: 100%;
    transition: var(--transition);
}

#gallery-image-1 img:hover {
    scale: 1.1;
}
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-content {
    background-color: var(--bg-grey-color);
    padding: 1em;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    width: max-content;
    height: max-content;
    position: relative;
    max-width: calc(100vw - 2em);
    max-height: calc(100vh - 2em);
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 0.3em;
    padding-right: 0.3em;
    display: flex;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    transition: var(--transition);
    background-color: var(--primary-color);
}
.close:hover {
    scale: 1.1;
    background-color: #252626ec;
    color: var(--primary-color);
}
.modal-body {
    width: 100%;
    height: 100%;
}
.modal-image {
    flex: 1;
    max-width: 450px;
    min-width: 280px auto;
}
.modal-image img {
    border-radius: 0.5em;
}
.caption-fullpost-container {
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; 
}
.modal-image,
.caption-fullpost-container {
    flex: 1;
    max-width: 400px;
    min-width: 280px;
}
.modal-image img {
    border-radius: 0.5em;
}
.modal-caption {
    margin-top: 0.5em;
    text-align: center;
    padding: 1em;
    max-height: 400px;
    overflow: auto;
}
.full-post-btn {
    width: 100%;
    border-radius: 1em;
    margin: 1em;
    margin-bottom: 0.4em;
}

.full-post-btn:hover {
    background-color: #252626ec;
    color: var(--primary-color);
}
/* Make the modal responsive */
@media screen and (max-width: 768px) {
    .caption-fullpost-container {
        height: auto;
    }
}


@media screen and (max-width:768px) {
    .blogs-box-content{
        padding: 1em;
        width: calc(100% - 4em);
    }
}

.blogs-main-left {
    flex: 2;
}

.blogs-main-left img {
    width: 100%;
}
.blogs-main-left p {
    color: var(--sub-text-color);
    line-height: 1.563em;
    font-weight: 400;
}
.blogs-main-left h2,
.blogs-main-right h2 {
    color: var(--text-color);
}
.blogs-main-right {
    flex: 1;
    
}
.blogs-box-content {
    padding: 3em;
    width: calc(100% - 6em);
    background-color: var(--bg-grey-color);
    text-align: center;
    border-left: 2px solid var(--primary-color);
}

@media screen and (max-width:768px) {
    .blogs-box-content{
        padding: 1.5em;
        width: calc(100% - 3em);
    }  
}
.blogs-box-content {
    font-size: 1.1em;
    font-style: italic;
    color: var(--sub-text-color);
}

.blogs-images img {
    width: 280px;
    height: 220px;
    max-width: 100%;
}
  .iwrap {
    display: flex;
    background-color: var(--bg-grey-color);
    padding: 0.5em;
    border-radius: 50%;
    color: var(--primary-color);
    transition: var(--transition);
    cursor: pointer;
}
 .iwrap:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}
.shares .iwrap:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    transform: translateY(-5px);
}
.s-wrap {
    padding: 1em;
    box-shadow: var(--box-shadow);
}
.search-bar {
    border: 0.01px solid var(--sub-text-color);
    transition: var(--transition);
}
.search-bar:hover {
    border: 0.01px solid var(--primary-color);

}
.search-bar input {
    width: 100%;
    border: none;
    background: none;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    color: var(--text-color);
}
.search-bar .s-btn {
    padding: 1em;
    background-color: var(--primary-color);
    cursor: pointer;
}
.search-bar svg {
    color: #ffffff;

}
.search-bar input:focus {
    outline: none;
}
.hr-custom {
    height: 1.2px;
    width: 100%;
    border: none;
    background: linear-gradient(to right, var(--primary-color) 20%, rgb(234, 234, 230) 5%, rgb(234, 234, 230) 100%);
}
.popular-post img {
    width: 80px;
    height: 80px;
}
.popular-post p {
    font-weight: 300;
    color: var(--sub-text-color);
}
.popular-post h4 {
    color: var(--text-color);
}
.tag-container p {
    color: var(--text-color);
    padding: 0.5em;
    border: 1px dotted var(--text-color);
    transition: var(--transition);
    cursor: pointer;
}
.tag-container p:hover {
    color: #ffffff;
    background-color: var(--primary-color);
}
table {
    width: 100%;
    border-collapse: collapse;
    color: var(--text-color);
}
th,
td {
    border: 0.5px solid var(--sub-text-color);
    padding: 1em;
    text-align: center;
}

th.header {
    background-color: var(--bg-grey-color);
}
@media screen and (max-width:768px) {
    table {
        font-size: 0.6em;
    }
}
.video-popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    text-align: center;
}

.video-popup {
    position: absolute;
    max-width: 60%;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
}
@media screen and (max-width:768px) {
    .video-popup{
        max-width: 90%;
    }
}
.close-button {
    display: flex;
    position: absolute;
    top: 80px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}